<?xml version="1.0"?>
<launch>
    
    <!--include file="$(find leo_navigation)/launch/slam.launch" /-->

    <node pkg="leo_navigation" type="patrolling.py" name="patroller" output="screen">   
        <param name="patrols" value="2"/><!--Number of loops to do--> 
        <param name="start_node" value="0"/><!--Which node to start at-->
        <param name="route" value="Experiment.csv"/>
        <param name="speed" value="fast"/> <!--fast or slow-->
    </node>

    <include file="$(find leo_navigation)/launch/pogger.launch"/>
    <include file="$(find ar_logger)/launch/logger.launch"/>


</launch>
