<?xml version="1.0"?>
<launch>

    <arg name="map_file" default="LOBBY/lobby"/>   <!-- Map -->
    <arg name="start_pose" default="origin.yaml"/>
    <arg name="trial_no" default="0"/>                            <!-- Trial No. -->
    <arg name="comm_start" default="True"/>  <!-- Wait for message from server to begin patrol/ search -->

    <include file="$(find leo_navigation)/launch/slam.launch">
            <arg name="map_file" value="$(arg map_file)"/>
            <arg name="start_pose" value="$(arg start_pose)"/>
    </include>

    <!-- LAUNCH leo_communication rosclient.launch for COMMS-->
    <!-- for our robot it is on a seperate raspberry pi -->

    <node pkg="leo_navigation" type="robot_main.py" name="Robot_Main" output="screen">  
        <rosparam command="load" file="$(find leo_navigation)/config/Robot_config.yaml" /> 
        <param name="trial_no" value="$(arg trial_no)"/>
        <param name="comm_start" value="$(arg comm_start)"/>
    </node>

    <include file="$(find signal_detection)/launch/signal_service.launch"/>
    <include file="$(find leo_navigation)/launch/subprocesses/collision_checker.launch"/>

    <!--include file="$(find leo_navigation)/launch/subprocesses/ar_tags.launch"/-->
    <!-- <include file="$(find leo_navigation)/launch/subprocesses/pogger.launch"/> -->


</launch>
