<?xml version="1.0"?>
<launch>

    <arg name="map_file" default="GE_trials.yaml"/>         <!-- Map -->
    <arg name="amcl_file" default="amcl_GE_Origin.yaml"/>                 <!-- Start Position -->
    <arg name="trial_no" default="0"/>                            <!-- Trial No. -->

    <include file="$(find leo_navigation)/launch/slam.launch">
            <arg name="map_file" value="$(arg map_file)"/>
            <arg name="amcl_file" value="$(arg amcl_file)"/>
    </include>

    <!-- LAUNCH leo_communication rosclient.launch for COMMS-->
    <!-- for our robot it is on a seperate raspberry pi -->

    <node pkg="leo_navigation" type="robot_main.py" name="patroller" output="screen">  
        <rosparam command="load" file="$(find leo_navigation)/config/Robot_config.yaml" /> 
        <param name="trial_no" value="$(arg trial_no)"/>
    </node>

    <include file="$(find signal_detection)/launch/signal_service.launch"/>
    <include file="$(find leo_navigation)/launch/subprocesses/collision_checker.launch"/>

    <!--include file="$(find leo_navigation)/launch/subprocesses/ar_tags.launch"/-->
    <!-- <include file="$(find leo_navigation)/launch/subprocesses/pogger.launch"/> -->


</launch>
