<?xml version="1.0"?>
<launch>

   <arg name="nav" default="true"/>
   <arg name="map_file" default="office_test_map"/>   <!-- Map (.yaml for amcl)-->
   <arg name="amcl_file" default="Office/amcl_3.yaml"/>           <!-- Start Position (AMCL)--> 
   <arg name="mapping" default="false"/>
   <arg name="start_pose" default="[0.0, 0.0, 0.0]"/> <!-- Start Position (slam_toolbox)-->

   <include file="$(find leo_navigation)/launch/subprocesses/odometry.launch" />can

   <group if="$(arg mapping)">
      <!--include file="$(find leo_navigation)/launch/subprocesses/gmapping.launch" /-->
      <include file="$(find leo_navigation)/launch/subprocesses/slam_toolbox_mapping.launch" />
   </group> 

   <group unless="$(arg mapping)">
      <!-- <include file="$(find leo_navigation)/launch/subprocesses/amcl.launch">
         <arg name="map_file" value="$(arg map_file)"/>
         <arg name="amcl_file" value="$(arg amcl_file)"/>
      </include> -->
      <include file="$(find leo_navigation)/launch/subprocesses/slam_toolbox_localization.launch">
         <arg name="map_file" value="$(arg map_file)"/>
         <arg name="start_pose" value="$(arg start_pose)"/>
      </include>
   </group>

   <!-- Conditionally launch move_base -->
   <group if="$(arg nav)">
      <include file="$(find leo_navigation)/launch/subprocesses/twist_mux.launch" />
      <include file="$(find leo_navigation)/launch/subprocesses/move_base.launch" />
   </group>   



</launch>
