<?xml version="1.0"?>
<launch>

   <include file="$(find leo_navigation)/launch/odometry.launch" />
   <!--include file="$(find leo_navigation)/launch/gmapping.launch" /-->
   <!--include file="$(find leo_navigation)/launch/hectormapping.launch"/-->
   <include file="$(find leo_navigation)/launch/amcl.launch"/>

   <include file="$(find leo_navigation)/launch/navigation.launch" />
   <!--include file="$(find ublox_gps)/launch/ublox_device.launch" /-->

</launch>
